<div class="container p-3">
  <div class="card text-bg-dark">
    <img src="../../../assets/img/paesaggio.jpg" class="card-img img-fluid" alt="banner">
    <div class="card-img-overlay d-flex flex-column justify-content-end bg-black bg-opacity-25">
      <p class="card-text m-0 h3">Stanco di sentire il tuo capo lamentarsi?</p>
      <h1 class="card-title h3 m-0">Prenota la tua vacanza subbito!</h1>
      <p class="card-text h3"><span class="h1">Irlanda</span>, una delle mete più visitate nel 2022!</p>
    </div>
  </div>
</div>
