/*Font*/
$ff-roboto : 'Roboto', sans-serif;

/*Space*/
$default-padding : 5px;
$default-space : 5px;
$default-margin : 5px;

/*Border*/
$default-border-radius: 5%;
$border-color: #ccd0d4;

/*Bg color*/
$bg-img-color: #f4f4f4;
$bg-color: #f1f1f1;
$bg-card: white;

/*Dimension*/
$default-width: 50%;

/*Text color*/
$link-color: #f1bb15;
$text-color: #323330;