/*Space*/
$default-padding : 5px;

/*Text color*/
$tx-white : white;
$tx-grey: #696e68;

/*Bg color*/
$bg-default-color : #121212;
$bg-color-black : black;
$bg-button-viola : linear-gradient(-45deg, rgba(117, 141, 134, 1) 6%, rgba(90, 83, 161, 1) 41%, rgba(62, 33, 167, 1) 96%);
$bg-icona-add: #b2b2b2;
$bg-icona-bookmark: #004537;
$bg-bage-conf: #3d91f4;

/*Border*/
$br-default : 5px;
$br-percent : 50%;

/*Font*/
$fs-default : 16px;
$fs-grey: 14px;
$fs-icon : $fs-default*1.5;

/*bottone play*/
$bg-button: #006500;

/*Color*/
$play-color: #1ed760;