<nav class="container-fluid bg-light py-3 px-5">
  <div class="row justify-content-between">
    <img src="../../../assets/img/logo.jpeg" alt="logo" class="img-fluid">
    <div id="menu-button" class="col-3 text-center text-dark h1 border border-dark rounded m-0 p-2 d-md-none"><i class="bi bi-list"></i></div>
     <div class="col-12 col-md-5 d-flex text-center justify-content-center justify-content-lg-end align-items-center">
      <ul class="d-md-flex justify-content-end gap-4 m-0 p-0">
        <li>Home</li>
        <li>Contatti</li>
        <li>Chi siamo?</li>
      </ul>
     </div>
  </div>
</nav>
