//*spaziatura*
$padding: 5px;
$space: 5px;

/*Font*/
$fs-size: 16px;
$ff-roboto: 'Roboto', sans-serif;
$ff-spectral: 'Spectral', serif;

/*Testo*/
$ts : underline;

/*Color*/
$main-color: aquamarine;
