/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d;

  &:hover{
    opacity: 0;
    transition: all 2s ease-in-out;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}